.purple{
    background-color: purple;
    color: white;
  }
  
  .blue {
    background-color: blue;
    color: white;
  }
  .green {
    background-color: green;
    color: white;
  }
  .yellow {
    background-color: yellow;
    color: white;
  }
  .orange {
    background-color: orange;
    color: white;
  }
  .red {
    background-color: red;
    color: white;
  }

